@model List<StudentWithCourseViewModel>

<h2>Result Report</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Student Department</th>
            <th>Year Of School</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var studentGroup in Model.GroupBy(s => s.StudentId))
        {
            var student = studentGroup.FirstOrDefault();
            <tr>
                <td>@student.StudentName</td>
                <td>@student.StudentDepartment</td>
                <td>@student.YearOfSchool</td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Mid Degree</th>
            <th>Practical Degree</th>
            <th>Final Degree</th>
            <th>Calculated Degree</th>
            <th>Max Degree</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var studentGroup in Model.GroupBy(s => s.StudentId))
        {
            var student = studentGroup.FirstOrDefault();
            decimal totalCalculatedDegree = 0;
            decimal totalDegree = 0;
            foreach (var course in studentGroup)
            {
                var calculatedDegree = course.MidDegree + course.PracticalDegree + course.FinalDegree;
                totalCalculatedDegree += calculatedDegree;
                totalDegree += course.MaxDegree;

                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.MidDegree</td>
                    <td>@course.PracticalDegree</td>
                    <td>@course.FinalDegree</td>
                    <td>@(course.MidDegree + course.PracticalDegree + course.FinalDegree)</td>
                    <td>@course.MaxDegree</td>
                </tr>
            }
            <br />
            <tr>
                <td colspan="4"><strong>Total Calculated Degree for @student.StudentName:</strong></td>
                <td><strong>@totalCalculatedDegree</strong></td>
                <td><strong>@totalDegree</strong></td>
            </tr>
            <h5>Total Calculated Degree for @student.StudentName: <strong>@totalCalculatedDegree  of  @totalDegree</strong></h5>


        }
    </tbody>
</table>
